@charset "UTF-8";

.navbar {
    color:#000000;
    background-color: white;
    border-color: white;
    font-family: 'Hind Madurai', sans-serif;
    
}
.navbar-brand{
    color:black;
    margin-top:20%;
    font-size:600%;
}
.navbar-right{
    padding-top:6%;
    font-size:200%;
}

#main_slide .main_image{
    list-style: none;
    margin:0;
    padding:0;
              display: inline-block;
              position: relative;
              /*background-color: #ffffff;*/
              
}

ul.main_image li{
    margin:45px 40px;
}

.jumbotron{
    background-image: url(https://res.cloudinary.com/dalfnbfxr/image/upload/v1531876574/app/images/back_ground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover ;
    border-color: white;
}

.power_word1{
    font-family: 'Caveat', cursive;
    font-size: 600%;
    margin-top:0;
    margin-bottom: 30px;
    padding-top: 0;
}
.power_word2{
    font-family: 'Caveat', cursive;
    font-size: 600%;
    margin:80px 0 30px;
}
.menu .media-object{
    width:450px;
    height:320px;
}
.menu .media-body{
    background-color: #ffffff;
    height:320px;
}
.menu .media-heading{
    text-align: center;
    margin-top: 130px;
    font-family: "Noto Sans Japanese";
    font-weight: 200;
    color:black;
}
a:hover .media-heading{
    text-decoration:underline;
    color:gray;
}

footer{
    margin-top:60px;
    padding:0;
    text-align: center;
}

.text-center h1{
    font-family: 'Caveat', cursive;
    font-size: 100px;
    color:white;
    margin:200px;
}
.text-center .btn{
    background: rgba(0,0,0,0);
    color:white;
    border-width: medium;
    border-color: white;
}

.cameralist, #picnav img {
    display: inline-block;   /* インラインブロック化 */
    /*margin: auto;*/
    margin: 0px 3px 7px 15px;  /*外側に余白を追加(※右に3px・下に7px) */
    background-color: #ccc; /* 背景色 */
    text-align: center;
}
/* ▼画像に対する装飾 */
p.cameralist img {
    display: block;          /* 余計な余白が出ないようにする */
    margin: 0px 0px 3px 0px; /* 下側にだけ3pxの余白を追加 */
    
}
/* ▼キャプションに対する装飾 */
span .caption {
   font-size: 0.9em;        /* 文字サイズを90%に */
          /* 中身をセンタリング */
}


#nav, #picnav {
  text-align: left;
}

#top-pic {
  text-align: center;
  margin-bottom:30px;
}
#top-pic img{
	border:double 5px grey;
}
#pic-data{
    display:inline-block;
    margin-left: 180px;
	border:double 5px grey;
}
#take-came{
    display:inline-block;
	border:double 5px grey;
    margin-left: 70px;	
}

#take-came img{
    float: left;margin-right:10px;
	border:double 5px grey;
}
@media (max-width: 1200px) {
   #nav,#top-pic,#take-came {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
 #nav,#top-pic,#take-came {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #nav,#top-pic,#take-came {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #picnav, #nav {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
/*      */

