@charset "UTF-8";

.navbar {
    border-color: white;
    font-family: 'Hind Madurai', sans-serif;
    background-color: #f5f5f5;
    width:1800px;
    height:150px;
    margin:0 auto 30px;
}
.text-primary{
    color:dimgray;
    letter-spacing: 10px;
}
.glyphicon{
    color: #5bc9c5;
}
.dropdown{
    color:dimgray;
}
.navbar-brand{
    margin-top:25%;
    margin-bottom: 10%;
    font-size:400%;
    letter-spacing: 15px;
}
.navbar-right{
    margin-top:5%;
    font-size:150%;
    font-weight: lighter;
    
}

#main_slide .main_image{
    list-style: none;
    margin:0;
    padding:0;
    display: inline-block;
    position: relative;
    /*background-color: #ffffff;*/
              
}

ul.main_image li{
    margin:45px 40px;
}

.jumbotron{
    /*background-image: url(https://res.cloudinary.com/dalfnbfxr/image/upload/v1531877822/app/images/welcome_back_ground.jpg);*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover ;
    background-color: dimgray;
}

.power_word1 h1{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 280%;
    margin-top:0;
    margin-bottom: 30px;
    padding-top: 0;
    color:dimgray;
    letter-spacing: 15px;
}
.power_word2 h1{
    font-family: 'Hind Madurai', sans-serif;
    font-weight:lighter;
    font-size: 280%;
    margin:80px 0 30px;
    color:dimgray;
    letter-spacing: 15px;
}
.menu .media-object{
    width:450px;
    height:320px;
}
.menu .media-body{
    background-color: #ffffff;
    height:320px;
}
.menu .media-heading{
    text-align: center;
    margin-top: 130px;
    font-family: "Noto Sans Japanese";
    font-weight: 200;
    color:black;
}
a:hover .media-heading{
    text-decoration:underline;
    color:gray;
}

footer{
    margin-top:60px;
    padding:0;
    text-align: center;
}

.text-center h1{
    font-family: 'Caveat', cursive;
    font-size: 100px;
    color:white;
    margin:200px;
}
.text-center .btn{
    background: rgba(0,0,0,0);
    color:white;
    border-width: medium;
    border-color: #5BC9C5;
}
.cameralist, #picnav img {
    display: inline-block;   /* インラインブロック化 */
    /*margin: auto;*/
    margin: 0px 3px 7px 5px;  /*外側に余白を追加(※右に3px・下に7px) */
    background-color: white; /* 背景色 */
    text-align: center;
}
/* ▼画像に対する装飾 */
p.cameralist img {
    display: block;          /* 余計な余白が出ないようにする */
    margin: 7px 7px 20px 7px; /* 下側にだけ3pxの余白を追加 */
    
}

.cameras {
    display: inline-block;   
    margin: 0px 3px 7px 5px;
    background-color: white;
    text-align: center;
}
/* ▼キャプションに対する装飾 */
.caption {
   font-size: 20px;
   /*font-family: */
   padding: 50px 0;
   /* 文字サイズを90%に */
          /* 中身をセンタリング */
}


#nav {
  text-align: left;
}

.username {
    text-align: center;
}
.icon {
    text-align: center;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.photo {
    /*font-family: 'Kaushan Script', cursive;*/
    text-align: center;
    background: linear-gradient(transparent 70%, #5BC9C5 50%);
    margin-left: 250px;
    width:700px;
}
.photo h1 {
    color: gray;
}

.photolist h1 {
    color: gray;
    font-size: 40px;
    border-left:solid 10px #5BC9C5;
    background-color: white;
    padding: 20px 5px;
    margin: 50px 0px;
    width:400px;
}

#top-pic {
  text-align: center;
  margin-left: 45px;
  margin-bottom: 30px;
  padding: 50px 0px;

}

#top-pic img{
    padding: 30px;
              background-color: white;
}
#pic-data{
    display:inline-block;
    margin-left: 180px;
              background-color: white;
              line-height:50px;
              padding: 30px;
              font-family: "Noto Sans Japanese";
              float: left;
}
#pic-data .data {
    text-align:center;
}
#take-came{
    display:inline-block;
              background-color: white;
    margin-left: 70px;     
    margin-top: 0;
}


.cap {
    margin:20px 0 20px 35px;
    font-size: 20px;
}

#take-came img{
    float: right;
}

.text-right .btn {
    background-color: #ff3366;
    color:white;
    border-width: medium;
    border-color: #ff3366;
    margin-top: 50px;
    margin-right:150px;
}

@media (max-width: 1200px) {
   #nav,#top-pic,#take-came {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
#nav,#top-pic,#take-came {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #nav,#top-pic,#take-came {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #picnav, #nav {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.center{
    background-color: white;
    width:1800px;
    margin:auto;
}
